.collapsableNavTitle {
  width: 10vw;
  height: 5vh;
  background-color: #8b76d6;
  display: grid;
  justify-content: center;
  border: 2px solid #8b76d6;
  border-radius: 10px;
  cursor: pointer;
}

/* LINE */
.collapsableNavConnectorLineClosed {
  width: 2px;
  height: 0px;
  margin: 0px;
  background-color: #8b76d6;
  justify-self: center;

  transition-property: all;
  transition-delay: 1000ms;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.collapsableNavConnectorLineOpen {
  width: 2px;
  height: 20px;
  margin: 0px;
  background-color: #8b76d6;
  justify-self: center;

  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

/* BORDER */
.collapsableNavBorderClosed {
  width: 13vw;
  height: 15vh;
  border: 2px solid black;
  display: grid;
  border-radius: 10px;
  justify-self: center;
  /* border-image: linear-gradient(to bottom, #8b76d6 0%, black 100%); */

  transition-property: all;
  transition-duration: 4000ms;
  transition-timing-function: ease-in-out;
}

.collapsableNavBorderClosed > p {
  display: none;
  opacity: 0;
  justify-self: center;

  transition-property: all;
  transition-delay: 6000ms;
  transition-timing-function: ease-in-out;
}

.collapsableNavBorderOpen {
  width: 13vw;
  height: 15vh;
  border: 2px solid #8b76d6;
  display: grid;
  border-radius: 10px;
  justify-self: center;
  /* border-image: linear-gradient(to bottom, #8b76d6 100%, black 0%) 1; */

  transition-property: all;
  transition-delay: 1000ms;
  transition-duration: 5000ms;
  transition-timing-function: ease-in-out;
}

.collapsableNavBorderOpen > p {
  display: grid;
  opacity: 100;
  justify-self: center;

  transition-property: all;
  transition-delay: 6000ms;
  transition-timing-function: ease-in-out;
}

/* LINKS */
.link {
  color: #8b76d6;
}

/* NEW LIST TITLE */
.new-list-title {
  font-family: Inconsolata, monospace !important;
  color: white !important;
}

.new-list-title:hover {
  color: #8b76d6 !important;
}

/* HACKY WAY OF FIXING LIST PAGINATION STYLE */
/* Arrows */
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  color: white !important;
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link {
  color: white !important;
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: rgb(212, 212, 212, 0.6) !important;
}

.ant-pagination .ant-pagination-item a {
  color: white !important;
}

.ant-pagination .ant-pagination-item a:hover {
  color: #8b76d6 !important;
}

.ant-pagination .ant-pagination-item {
  background: black !important;
  font-family: Inconsolata, monospace !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #8b76d6 !important;
}

.ant-pagination .ant-pagination-item-active {
  border: 1px solid #8b76d6 !important;
  background: black !important;
  font-family: Inconsolata, monospace !important;
}


/* HACKY WAY OF CHANGING COLOR OF SELECTED MENU ITEM */
.ant-menu-item-selected {
  background-color: #8b76d6 !important;
}